* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 4, 53);
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100vh;
}

.input_area {
    display: flex;
    gap: .5rem;
    width: 100%;
}

#submit, #user_input {
    border: 1px solid black;
    border-radius: 1.3rem;
   
}
#user_input {
    width: 75%;
    padding: .8rem;
}

#search_btn, #search_words {
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
}
.search_bar {
    border: 2px solid #888;
    border-radius: 1rem;
}

#search_btn {
    cursor: pointer;
}

.visible {
    visibility: visible;
}
#submit {
    width: 25%;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.container {
    
    border-radius: 5px;
    margin: 0 1rem;
    padding: .5rem;
    box-shadow: 1px 1px 4px;
    width: 100%;
}
.displays {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(212, 212, 212);
    padding: .3rem;
    font-size: .6rem;
    color: rgb(39, 39, 39);
    border-radius: 5px;
    box-shadow: 0 -1px 4px;
}
.displays p {
    padding: .5rem .3rem;
    width: 120px;
}
#paragraph {
    padding: .3rem;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.resultsBox {
    position: absolute;
    width: 300px;
    box-shadow: 0 0 4px;
    text-align: center;
    padding: 1rem;
    transform: translateY(300%)  scale(0.1);
    visibility: hidden;
    background: #fff;
    transition: transform 300ms;
}
.blur_bg {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
.resultsBox p {
    padding: .5rem;
}
.resultsBoxVisible {
    transform: translateY(0%)  scale(1);
    visibility: visible;
}
#resultsBtn {
    padding: .5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
#aboutParagraph {
    padding: .5rem 1rem;
}